/* color variables */
:root {
    --dark-primary: #051220; /* background */
    --dark-secondary: #0b2135; /* active box */
    --dark-accent: #091b2b; /* box */
    --dark-hover: #091b2b;
    --light-primary: #f0f0f0; /* text */
    --light-secondary: #e0e0e0;
    --light-accent: #ff6b81;
  }

.iframe-content {
    margin-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

.iframe-post {
    background-color: var(--dark-accent);
    display: flex;
    flex-direction: column; /* Ensures thumbnail and text are side by side */
    justify-content: center;
    align-items: center;
    text-align: center;
  
    height: fit-content; /* Set this to the maximum width you want for the blog post */
    width: 60vw;
    margin: auto;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;


    /*
    border-radius: 1.5rem;
    box-sizing: border-box;  */
}

.iframe-info {
    max-width: 650px;
}

.blog-date {
    text-align: center !important;
}


.iframe-thumbnail {
    /* background-color: #ffffff; */
    width: 100% !important;
    height: 600px !important;
    /* border-radius: 10px; */
    border: 0px;
    margin-bottom: 1rem;

}

