/* color variables */
:root {
    --dark-primary: #051220; /* background */
    --dark-secondary: #0b2135; /* active box */
    --dark-accent: #091b2b; /* box */
    --dark-hover: #091b2b;
    --light-primary: #f0f0f0; /* text */
    --light-secondary: #e0e0e0;
    --light-accent: #ff6b81;
  }

.iframe-content {
    margin-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

.iframe-post {
    background-color: var(--dark-secondary);
    display: flex;
    flex-direction: column; /* Ensures thumbnail and text are side by side */
    justify-content: center;
    align-items: center;
    text-align: center;
  
    height: fit-content; /* Set this to the maximum width you want for the blog post */
    width: 63vw !important;
    margin: auto;

    /*
    border-radius: 1.5rem;
    box-sizing: border-box;  */
}

.iframe-info {
    max-width: 650px;
}

.blog-date {
    text-align: center !important;
}

.iframe-title {
    text-align: center !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    font-size: 1.6rem;
    letter-spacing: 0.07em;
    opacity: 0.75;
    text-decoration: none !important;
    margin-top: 1.3rem !important;
    margin-bottom: 1rem !important;

    border-bottom: 1px solid;
}


.iframe-thumbnail {
    /* background-color: #ffffff; */
    width: 60vw !important;
    height: 600px !important;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 1.5rem;
    opacity: 0.7;
    transition: opacity 0.3s ease-in;
}

.iframe-thumbnail:hover {
    opacity: 1;
}

