/* Theme Colors */
:root {
  --dark-primary: #051220;
  --dark-secondary: #0b2135;
  --dark-accent: #091b2b;
  --dark-hover: #091b2b;
  --light-primary: #f0f0f0;
  --light-secondary: #e0e0e0;
  --light-accent: #ff6b81;
}

* {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    color: var(--light-primary);
    font-weight: 600;
}

/* Media query for screen width less than 600px */
@media (max-width: 750px) {
  .navigation {
      top: 11vh !important; /* adjust as per requirement */
      left: 5vw !important;
      width: 90vw !important;
      height: 4vh !important;
      font-size: 1.7vw  !important;
  }

  #title {
      width: 100% !important;
      text-align: center !important;
      margin: 0 0 0 0px !important;
      left: 0 !important;
      top: 3vh !important;
  }
}


#title {
  text-align: left;
  position: fixed;
  margin: 0 0 0 34px;
  font-size: 2.5em;
  font-weight: 600;
  color: var(--light-primary);
}

/* make the links clickable and add a hover effect */
.navigation {
    background-color: var(--dark-secondary);
    position: fixed;
    padding: 0;
    top: 2vh;
    height: 6vh;
    left: 28vw;
    display: inline-flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 0px;
    font-size: 1.2vw;
    border-radius: 5px;
    text-align: center;
  }


  /* center the .navigation a element inside the .navigation li element*/
  .navigation a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .navigation li {
    background-color: var(--dark-accent);
    padding: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 33.34%;
    height: 100%;
    border-bottom: 4px solid var(--dark-secondary);
    border-left: 4px solid var(--dark-secondary);
    border-right: 4px solid var(--dark-secondary);
    border-top: 4px solid var(--dark-secondary);
    border-radius: 3px;
  }

  .navigation li:hover {
    background-color: var(--dark-secondary);
    left: 0%;
    padding: 0;
  }

  .navigation li.active {
    background-color: var(--dark-primary);
    left: 0%;
    padding: 0;
    border-left: 2px solid var(--light-primary);
    border-right: 2px solid var(--light-primary);
    border-top: 2px solid var(--light-primary);
    border-bottom: 0px solid var(--dark-secondary);
  }
  
  

  
  /* make the social elements stuck to the top right of the page */
  .socials {
      position: fixed;
      top: 18px;
      right: 34px;
      margin: 10px;
      border: none;
      background-color: transparent;
  }

  img { border-style: none; }