/* Theme Colors */
:root {
  --dark-primary: #051220;
  --dark-secondary: #0b2135;
  --dark-accent: #091b2b;
  --dark-hover: #091b2b;
  --light-primary: #f0f0f0;
  --light-secondary: #e0e0e0;
  --light-accent: #ff6b81;
}

* {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    color: var(--light-primary);
    font-weight: 600;
}



#title {
  text-align: left;
  position: fixed;
  margin: 0 0 0 34px;
  font-size: 2.5em;
  font-weight: 600;
  color: var(--light-primary);
}

/* make the links clickable and add a hover effect */
.navigation {
    position: fixed;
    padding: 0;
    top: 2vh;
    height: 6vh;
    right: 2vw;
    display: inline-flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 0px;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
  }


  /* center the .navigation a element inside the .navigation li element*/
  .navigation a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .navigation li {
    background-color: var(--dark-accent);
    transition: ease-in-out 0.3s !important;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 33.34%;
    height: 100%;
    border-bottom: 2px solid var(--light-primary);
    border-top: 4px solid var(--dark-secondary);
    
    /* border-top: 2px solid var(--dark-secondary); */
  }

  .last {
    border-top-right-radius: 8px;
    border-right: 4px solid var(--dark-secondary);
  }

  .first {
    border-top-left-radius: 8px;
    border-left: 4px solid var(--dark-secondary);
  }

   .navigation li:hover{
    background-color: var(--dark-secondary) !important;
    /* border: var(--dark-primary) ; */
    transition: ease-in-out 0.3s !important;

  }

  .navigation:hover > .vertical-row a{
    opacity: 0% !important;
    transition: ease-in-out 0.3s !important;
  }

  


   .vertical-row {
    width: 1.5px !important;
   } 

   .vertical-row a{
    transition: ease-in-out 0.3s !important;

    color: var(--light-secondary) !important;
    bottom: 20% !important; 
    font-size: 1.9rem !important;
    opacity: 50% !important;
   } 
   


  .navigation li.active {
    background-color: var(--dark-primary) !important;;
    left: 0%;
    padding: 0;
    border: 2px solid var(--light-primary);
    /* border-left: 2px solid var(--light-primary); */
    /* border-right: 2px solid var(--light-primary);
    /* border-top: 2px solid var(--light-primary);
    border-left: 2px solid var(--light-primary); */
    /* border-left: 0px solid var(--dark-secondary);
    border-right: 0px solid var(--dark-secondary); */
    border-bottom: 0px solid var(--dark-secondary);
    height: 105%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }

  img { border-style: none; }