@media screen and (max-width: 1380px) {
    .box {
      height: 50vh !important;
      margin-top: 0vh !important;
    }
  
    .container {
      width: fit-content !important;
    }
  
    .scrollbar {
      width: 50% !important;
      left: 25% !important;
    }
  
    /* body, .container {
      max-height: 100% !important;
      overflow-y: hidden !important;
    } */

    .navigation {
        top: 10vh !important; /* adjust as per requirement */
        left: 5vw !important;
        width: 90vw !important;
        height: 4vh !important;
        font-size: 3vw  !important;
    }
  
    #title {
        width: 100vw !important;
        text-align: center !important;
        margin: 0 auto 0 auto !important;
        top: 5vh !important;
    }

    .s-title {
      white-space: normal !important;
      width: 75% !important;
      text-align: center !important;
    }

    .divider {
      display: none !important;
    }

    .gallery {
      margin-top: 17vh !important;
      width: 85vw !important;
      column-gap: 1vw !important;
      column-count: 4 !important;
    }

    .gallery-img {
      margin-bottom: 1vw !important;
    }

    #blocker {
      width: 100%  !important;
      height: 18vh;
    }

    .page-top {
      margin-top: 17vh !important;
    }

    .iframe-thumbnail {
      background-color: #ffffff;
      width: 80vw !important;
      height: 550px !important;
    } 

    .content {
      justify-content: flex-start !important; 
    } 

    .blog-thumbnail {
      background-color: #ffffff;
      width: 30vw !important;
      height: 13.5vw !important;
    } 

    .p-container {
      background-color: #ffffff;
      width: 85vw !important;
      padding-left: 0 !important;
    }

    .index-label {
      font-size: 0.8rem !important;
    }
  }

