/* Theme Colors */
:root {
  --dark-primary: #051220;
  --dark-secondary: #0b2135;
  --dark-accent: #091b2b;
  --dark-hover: #091b2b;
  --light-primary: #f0f0f0;
  --light-secondary: #e0e0e0;
  --light-accent: #ff6b81;
}



body {
  min-height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

* {
    font-family: "montserrat", sans-serif;
    font-style: normal;
}
    
/* center the h1 with id title horizontally on the page, and change the font to be larger and bold */
h1 {
    text-align: left;
    position: absolute;
    left: 1vw;
    top: 4.5vh;
    font-size: 5vh !important;
    font-weight: 600 !important;
    color: var(--light-primary);
}

/* make the social elements stuck to the top right of the page */
/* .socials {
    position: fixed;
    top: 18;
    right: 34;
    margin: 10px;
} */


.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;    
  justify-content: center;
  width: 200%;
  margin-left: 6px;
  height: 100%;
  margin-top: 2%;
  overflow-x: auto;
}

.box {
  display: inline-block;
  height: 75vh;
  width: 30vw;
  margin: 5px;
  text-align: center;
  color: #eceff4;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
  background-color: var(--dark-accent);
  border: 2px solid var(--dark-accent);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

/* 
.skew { 
  margin-left: 5px !important;
}

.active {
  z-index: 2;
} */

::-webkit-scrollbar {
    display: none;
}

.scrollbar {
  position: fixed;
  bottom: 4%;
  left: 42.5%;
  width: 15%;
  height: 12px;
  background-color: var(--dark-accent);
  border-bottom: 2px solid var(--dark-accent);
  border-radius: 10px;
  z-index: 1000;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 11px;
  background-color: var(--dark-secondary);
  border: 2px solid var(--dark-secondary);
  border-radius: 12px;
  z-index: 1001;
  cursor: pointer;
}


/* Default Theme (dark) */
body {
  background-color: var(--dark-primary);
  color: var(--dark-primary);
  /* transition: background-color 0.7s ease; */
}

.anims {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200%;
  transform: translate(-51.5%, -52%);
  z-index: 1;
}

#braille-anim {
  left: 56%;
  max-width: 180%;
}

#arm-anim {
  left: 56%;
  top: 49%;
  max-height: 140%;
}

#sumo-anim {
  left: 56%;
  top: 49%;
  max-height: 140%;
}




/* make the s-title class always display at the bottom within the box element, centered horizontally */
.s-title {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
  font-weight: 500;
  color: var(--light-primary);
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 2;
  white-space: nowrap;
  /* add some drop shadow to this text */
  text-shadow: 0 0 4px #000000;
}


.see-more {
  position: absolute;
  bottom: 2.35vh; /* Adjust this according to your needs */
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Hide the button by default */
  background-color: var(--dark-accent);
  border: 2px solid var(--light-primary);
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 1.8vw;
  color: var(--light-primary);
  cursor: pointer;
  z-index: 2;
  white-space: nowrap;
}

/* style the divider to be a thin, solid line with color light primary, and move it down */

.divider {
    position: absolute;
    bottom: 17.75vh;
    border: 1px solid var(--light-secondary);
    width: 50%;
    margin: 0 25%;
    z-index: 2;
    display: none;
    /* add some drop shadow to this divider */
    box-shadow: 0 0 3px #000000;
}

.gallery {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 15vh;
  column-count: 4;
  column-gap: 20px;
  padding: 20px;
}


.gallery-img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .2s;
  display: inline-block;
  margin-bottom: 20px;
}

.gallery-img:hover {
  transform: scale(1.1);
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  /* width: 80%;
  max-width: 700px; */
  margin-top: 20vh;
  height: 50vh;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}